In [1]:
import pandas as pd

### Exercise with MYSQL

In this exercise, I used MySQL to filter and combine information I wanted from the County Health Rankings National Data. I sincerely thank Philip Gigliotti for pointing me to the dataset. https://www.countyhealthrankings.org/explore-health-rankings/rankings-data-documentation

If you download '2021 County Health Rankings National Data' dataset, you will get a very comprehensive dataset that includes a lot of information on each county in the United States. I am interested in exploring health trends in counties that can contribute to better marketing of health insurance policies that could potentially be useful for health insurance companies. 

Keeping the question in mind, I undertook the following steps to derive a dataset that would help me solve the above problem. I used SQL to do the initial cleaning, filtering, and joining datasets. I am going to use Python to do additional wrangling and exploratory data analysis. 

1. I extracted the 'Ranked Measure Data and 'Additional Measure Data' tab. 
2. I saw that it had a lot of 'blanks', as in missing values. This will be problematic when you import the table into SQL. SQL will convert the columns with the Blanks into 'txt' datatype although your column is numeric. Therefore, I used Excel to replace all the blanks with -99. The dataset also had 'x' in the columns which I took to be no information as well. I also changed that to -99. MYSQL will not import rows that it doesn't like resulting in missing data. Therefore, it is necessary to explore your data well before importing. 
3. I then converted the two excel files into separate csv files. The encoding is important here. Excel saves it with UTF-B BOM encoding, which MySQL did not like. Therefore, I opened the files with VSCODE and changed the encoding to UTF. 
4. I created a schema in MySQL called 'County Health Data' and imported the two tables. I checked the datatype of all the columns to make sure that it is what is should be. 
5. The next step was to replace all the '-99s' with NULL so that we can run Null value operations with the data. I did this for one table, which was pretty time intensive as the datasets had a lot of columns. I am going to do the rest in python. I used this query: 

UPDATE tablename
SET columnname = NULL
WHERE columnname = -99;

6. I then joined the two tables. I used the JOIN command because I wanted columns/rows from both the tables. Here is my query. I selected the columns of interest to me at this stage. 

-- CREATE VIEW county_data
-- AS
-- SELECT ranked.FIPS, ranked.State, ranked.County, Deaths, `% Fair or Poor Health`, `Average Number of Physically Unhealthy Days`, `Average Number of Mentally Unhealthy Days`,
-- `% Low birthweight`, `% Smokers`, `% Adults with Obesity`, `% Physically Inactive`, `% With Access to E-99ercise Opportunities`,
-- `% E-99cessive Drinking`, `% Driving Deaths with Alcohol Involvement`, `Chlamydia Rate`, `Teen Birth Rate`, ranked.`# Uninsured`, ranked.`% Uninsured`,
-- `# Primary Care Physicians`, `# Dentists`, `% With Annual Mammogram`, `% Vaccinated`, `# Completed High School`, `# Some College`, `# Unemployed`,
-- `% Children in Poverty`, `80th Percentile Income`, `20th Percentile Income`, `# Children in Single-Parent Households`,
-- `# Children in Households`, `Violent Crime Rate`, `Injury Death Rate`, `% Severe Housing Problems`, `Life E-99pectancy`, `Age-Adjusted Death Rate`, `Child Mortality Rate`, 
-- `Infant Mortality Rate`, `% Adults with Diabetes`, `HIV Prevalence Rate`, `# Food Insecure`, `# Limited Access`, `# Drug Overdose Deaths`, `# Motor Vehicle Deaths`,
-- `Median Household Income`, `Homicide Rate`, `Firearm Fatalities Rate`, `# Homeowners`, `# Households with Severe Cost Burden`, `% Broadband Access`,
-- additional.`Population`, `% Less Than 18 Years of Age`, `% 65 and Over`, `# Black`, `# American Indian & Alaska Native`, `# Asian`, 
-- `# Native Hawaiian/Other Pacific Islander`, `# Hispanic`, `# Non-Hispanic White`, `# Not Proficient in English`, `% Female`, `# Rural`
-- FROM ranked
-- 	JOIN additional
-- 	ON ranked.FIPS = additional.FIPS

7. I then exported the table to csv.

In [3]:
county = pd.read_csv('county_data.csv')

In [4]:
county.head()

,FIPS,State,County,Deaths,% Fair or Poor Health,Average Number of Physically Unhealthy Days,Average Number of Mentally Unhealthy Days,% Low birthweight,% Smokers,% Adults with Obesity,...,% 65 and Over,# Black,# American Indian & Alaska Native,# Asian,# Native Hawaiian/Other Pacific Islander,# Hispanic,# Non-Hispanic White,# Not Proficient in English,% Female,# Rural
0,1001,Alabama,Autauga,787.0,20,4.5,4.9,9.0,20,33,...,16.0,11098,266,656,58,1671,41215,419,51.5,22921
1,1003,Alabama,Baldwin,3147.0,16,3.6,4.8,8.0,19,30,...,21.0,19215,1742,2380,154,10534,185747,1425,51.5,77060
2,1005,Alabama,Barbour,515.0,30,5.6,5.6,11.0,26,41,...,19.7,11807,170,116,52,1117,11235,454,47.1,18613
3,1007,Alabama,Bibb,476.0,24,4.9,5.3,10.0,23,37,...,16.7,4719,103,48,26,623,16663,71,46.7,15663
4,1009,Alabama,Blount,1100.0,22,5.0,5.4,7.0,23,33,...,18.7,872,370,185,67,5582,50176,878,50.8,51562